<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
body {
}

body {
    background-color: #000;
    overflow: hidden;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    text-align: center;
}

a {
    color: #00b7ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    #messages li {
        padding: 5px 10px;
    }

        #messages li:nth-child(odd) {
            background: #eee;
        }

#info {
    color: #fff;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

#statusBox{
    width: 90%
}

label {
  color: #aaa;
}

.MainCtrl 
    {
     font-size:16pt;
     height:32pt;
     width:22%;
    }

 .PLotColor {
    fill: rgb(76,179,230);
    stroke: rgb(76,179,230);
 }

 .AxisDisplay{
    stroke: #aaa;
    fill: #aaa;
 }

.legendOrdinal{
    stroke: #aaa;
    fill: #aaa;
}

.Plot {
    width: 100%;

}

#svg_d3jsXY {
	position: absolute;
	top: 0;
    width: 100%;
    height: 500px;
}

.axis text,
.axis path{
  fill: none;
  stroke: #aaa;
}
.axis line {
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
  fill: none;
  stroke: #aaa;
}


